@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Служба технической поддержки</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Управление запросами</h2>
        <div class="tasks-container"></div>
        <button class="btn btn-success add-task">Добавить</button>
    </div>

    <div class="col-md-12">
        <h2>Управление сотрудниками</h2>
        <div class="employees-container"></div>
        <button class="btn btn-success add-employee">Добавить</button>
    </div>
</div>

@section scripts
{
    <script src="../../Scripts/app.js"></script>
}